.react-datepicker__input-container {
  width: 120px;
}
.react-datepicker__input-container > input {
  max-width: 120px;
}
.disabledRow {
  background-color: antiquewhite;
  color: red;
}
.table td {
  vertical-align: middle !important;
}
.table thead th {
  vertical-align: middle !important;
}
